<!DOCTYPE html>
<html>
<head>
  <title>BeatHaven</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://vkontakte.ru/js/api/openapi.js" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    window.VK_APP_ID = 2335068;
  </script>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="">BeatHaven</a>
        <form class="navbar-search pull-left">
          <input type="search" placeholder="Search" class="search-query">
        </form>
        <div class="auth pull-right">
          <a href=""><i class="icon-user icon-white"></i></a>
        </div>
        <%= render partial: "player" %>
      </div>
    </div>
  </div>
  <div class="container" id="main">You can't steal what's free</div>

</body>
</html>
